<!DOCTYPE HTML>

<head>


	<title>Registered Users</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

	<link rel="stylesheet" type="text/css" href="static/css/user_info_style.css">
</head>

<body>
	<h2>All Registered Users</h2>
	<div class="booking">
	<table class="table">
		
		<tr class="table_heading">
			<th class="table_cell">Customer ID</th>
			<th class="table_cell">Name</th>
			<th class="table_cell">Email</th>
			<th class="table_cell">Phone Number</th>
			<th class="table_cell">Date Of Birth</th>
			<th class="table_cell">No. Of Bookings</th>
			
		</tr>

		{% for row in data %}
		<tr class="table_row">
			{% for cell in row %}
			<td class="table_cell">{{ cell }}</td>
			{% endfor %}
		</tr>
		{% endfor %}

	</table>
</div>
</body>